<header class="bg-blue-600 text-white p-4 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-3xl font-bold">My App</h1>
      <nav>
        <a routerLink="showStd" class="px-4 py-2 hover:bg-blue-700">Show My Students</a>
        <!-- <a routerLink="addStd" class="px-4 py-2 hover:bg-blue-700">Add Student</a> -->
        <button mat-flat-button class="bg-red-600 px-4 py-2"  (click)="logOut()">logOut</button>
      </nav>
    </div>
  </header>
  