<div class="container mx-auto p-6  h-full">
    <div class="text-center">
      <h1 class="text-3xl font-bold mb-6">Welcome, {{ studentName }}!</h1>
      <img *ngIf="teacherImage" [src]="teacherImage" alt="Teacher's Image" class="mx-auto mb-4 h-32 w-32 rounded-full shadow-lg">
    </div>
  
    <div class="text-center bg-blue-100 p-6 rounded-lg shadow-md">
      <h2 class="text-2xl font-semibold mb-4">Your Teacher's Details</h2>
      <p class="text-lg mb-2"><strong>Teacher Email:</strong> {{ teacherEmail }}</p>
      <p class="text-lg mb-2"><strong>Your Email:</strong> {{ stdEmail }}</p>
      <p class="text-lg mb-2"><strong>Your Password:</strong> {{ teacherPassword }}</p>
    </div>
  </div>
  